* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100vw;
    height: 600vh;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #292929;
    color: #f3ebe2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sticky {
    background-color: #292929;
    color: #f3ebe2;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #93cfa2;
    color: #292929;
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 24px;
    z-index: 2;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.col:nth-child(2) {
    gap: 26px;
}

.blocked {
    width: 35px;
    height: 35px;
    background-color: #EFF4F7;
}

.block-1 {
    transform: rotate(42deg);
    transform-origin: bottom right;
}

.block-5 {
    transform: rotate(-42deg);
    transform-origin: bottom left;
}

.cubes {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 10000px;
    overflow: hidden;
}

.cube {
    position: absolute;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
}

@media (max-width: 768px) {
    .cube {
        width: 100px;
        height: 100px;
    }
}

.cube > div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
}

.front {
    transform: translateZ(75px);
}

.back {
    transform: translateZ(-75px) rotateY(180deg);
}

.right {
    transform: translateX(75px) rotateY(90deg);
}

.left {
    transform: translateX(-75px) rotateY(-90deg);
}

.top {
    transform: translateY(-75px) rotateX(90deg);
}

.bottom {
    transform: translateY(75px) rotateX(-90deg);
}

@media (max-width: 768px) {
    .front {
        transform: translateZ(50px);
    }
    
    .back {
        transform: translateZ(-50px) rotateY(180deg);
    }
    
    .right {
        transform: translateX(50px) rotateY(90deg);
    }
    
    .left {
        transform: translateX(-50px) rotateY(-90deg);
    }
    
    .top {
        transform: translateY(-50px) rotateX(90deg);
    }
    
    .bottom {
        transform: translateY(50px) rotateX(-90deg);
    }
}

.header-1 {
    width: 90%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
    text-align: center;
    color: #f3ebe2;
    font-family: "Amenti", sans-serif;
}

.header-1 h1 {
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.2;
    padding: 0 1rem;
}

.header-2 {
    width: 90%;
    max-width: 800px;
    position: absolute;
    top: 87%;
    left: 34%;
    transform: translate(-50%, -50%) scale(0.75);
    transform-origin: center center;
    text-align: left;
    color: #f3ebe2;
    opacity: 0;
    filter: blur(10px);
    padding: 0 1rem;
}

.header-2 h2 {
    margin-bottom: .5rem;
    color: #54bb74;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.header-2 p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: lighter;
    color: #f3ebe2;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
